.container-portfolio {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 212px;
}

.project {
  display: flex;
  gap: 125px;
  justify-content: space-between;
}

.img-project-hero {
  width: 540px;
  height: 500px;
}

.container-project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border-top: 1px solid #DCDCDE;
  border-bottom: 1px solid #DCDCDE;
}

.text-project-title {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.text-project {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}
